/* Carousel container */
:host ::ng-deep .owl-stage-outer {
  height: auto; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

:host ::ng-deep .owl-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.2rem;
  
}


:host ::ng-deep .owl-item img {
  object-fit: cover;
}

:host ::ng-deep .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
  padding: 0 1rem;
  box-sizing: border-box;
}

:host ::ng-deep .owl-theme .owl-nav div {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid var(--second-color);
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  pointer-events: auto;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
}


:host ::ng-deep .owl-theme .owl-nav div:hover {
  background-color: var(--second-color);
  color: white;
}



::ng-deep .ngx-pagination {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

::ng-deep .ngx-pagination .current {
  background-color: var(--second-color);
  color: white !important;
  border-radius: 6px;
  padding: 5px 12px;
}

::ng-deep .ngx-pagination a {
  color: var(--text-color);
  padding: 5px 10px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

::ng-deep .ngx-pagination a:hover {
  background-color: var(--second-color);
  color: white;
}
