<section class="py-8 min-h-[40vh]">
  <div class="flex flex-col gap-6">
    <div class="text-center space-y-3 mb-10">
      <h2 class="text-3xl mb-2 font-semibold text-[var(--text-color)]">
        WishList
      </h2>
    </div>

    @if (wishlistProducts.length > 0) {
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mx-10 sm:px-4 sm:mx-5 md:px-8 md:mx-20"
      >
        @for (product of wishlistProducts; track product._id) {
          <div class="relative">
            <app-card [product]="product" class="w-full"></app-card>
 <button
    #wishlistBtn
    (click)="removeFromWishlist(product)"
    class="absolute right-3 top-3 [font-size:20px] cursor-pointer py-2 px-1 rounded-full shadow-md flex items-center hover:scale-110 justify-center transition-all duration-300"
  >
    <i
      class="fa-solid fa-heart text-[var(--main-color)]"
    ></i>
  </button>
          </div>
        }
      </div>
    } @else {
      <p class="text-center text-gray-500 text-lg mt-10">
        Your wishlist is empty.
      </p>
    }
  </div>
</section>
