<section class="py-16">
  <div class="container mx-auto px-4">
    <div class="text-center mb-12">
      <h2 class="text-2xl mb-2 font-semibold text-[var(--main-color)]">
        New-Collection
      </h2>
      <p class="text-4xl mb-2 font-bold text-[var(--text-color)]">
        Check the new collection
      </p>
    </div>

    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-4 text-white text-center max-w-[1250px] mx-auto"
    >
      <div
        class="h-[250px] md:h-[195px] lg:h-[500px] rounded-xl w-full bg-[url('/images/ccd1eecaa14a8c1227fea17afc08bdf041c2c92d.jpg')] bg-cover bg-center flex flex-col justify-center items-center bg-black/40 bg-blend-multiply space-y-3"
      >
        <h5 class="capitalize font-bold text-3xl md:text-4xl lg:text-5xl">
          shoes
        </h5>
        <p class="capitalize text-lg md:text-xl lg:text-2xl">up to 50% sales</p>
      </div>

      <div class="flex flex-col gap-4">
        <div
          class="h-[200px] md:h-[195px] lg:h-[245px] rounded-xl bg-[url('/images/15942fe834cd5ed275ff0a388e520187d0961753.jpg')] bg-cover bg-center flex flex-col justify-center items-center bg-black/40 bg-blend-multiply space-y-3"
        >
          <h5 class="capitalize text-2xl font-semibold">Bags</h5>
          <p class="capitalize text-lg">up to 50% sales</p>
        </div>
        <div
          class="h-[200px] md:h-[195px] lg:h-[245px] rounded-xl bg-[url('/images/24c3bbb1e6f701d0f5d5597fa8447507f4dce558.jpg')] bg-cover bg-center flex flex-col justify-center items-center bg-black/40 bg-blend-multiply space-y-3"
        >
          <h5 class="capitalize text-2xl font-semibold">Accessories</h5>
          <p class="capitalize text-lg">up to 50% sales</p>
        </div>
      </div>
    </div>
  </div>
</section>
