<section>
      <div class="testimonials m-30 max-w-6xl mx-auto items-center">
    <div class="text-center space-y-3 mb-10">
      <h2 class="text-2xl mb-2 font-semibold text-[var(--main-color)]">Testimonials</h2>
      <p class="text-4xl mb-2 font-bold text-[var(--text-color)]">
        What Our Customer Say
      </p>
    </div>
    <div class="cards relative grid grid-cols-1 md:grid-cols-3 px-3 gap-5">
      <div class="card bg-white p-4 rounded-lg shadow-lg space-y-3">
        <div
          class="icon w-[50px] h-[50px] rounded-full bg-gray-200/50 flex justify-center items-center"
        >
          <i class="fa-solid fa-quote-left text-[var(--main-color)] [font-size:30px]"></i>
        </div>
        <p class="text-gray-500/90 leading-8">
          Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit
          laoreet purus malesuada dignissim.
        </p>
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-3">
            <img
              src="/images/6761102260824110a459a1b071ad0b672bdb8b66.png"
              class="w-[50px] rounded-full"
              alt=""
            />
            <p class="font-bold text-gray-800">Berry Gunawan</p>
          </div>
          <p class="space-x-1">
            <i class="fa-solid fa-star text-yellow-300"></i> <span>3.5</span>
          </p>
        </div>
      </div>
      <div class="card p-4 bg-white rounded-lg shadow-lg space-y-3">
        <div
          class="icon w-[50px] h-[50px] rounded-full bg-gray-200/50 flex justify-center items-center"
        >
          <i class="fa-solid fa-quote-left text-[var(--main-color)] [font-size:30px]"></i>
        </div>
        <p class="text-gray-500/90 leading-8">
          Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit
          laoreet purus malesuada dignissim.
        </p>
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-3">
            <img
              src="/images/6761102260824110a459a1b071ad0b672bdb8b66.png"
              class="w-[50px] rounded-full"
              alt=""
            />
            <p class="font-bold text-gray-800">Berry Gunawan</p>
          </div>
          <p class="space-x-1">
            <i class="fa-solid fa-star text-yellow-300"></i> <span>3.5</span>
          </p>
        </div>
      </div>
      <div class="card p-4 bg-white rounded-lg shadow-lg space-y-3">
        <div
          class="icon w-[50px] h-[50px] rounded-full bg-gray-200/50 flex justify-center items-center"
        >
          <i class="fa-solid fa-quote-left text-[var(--main-color)] [font-size:30px]"></i>
        </div>
        <p class="text-gray-500/90 leading-8">
          Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit
          laoreet purus malesuada dignissim.
        </p>
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-3">
            <img
              src="/images/6761102260824110a459a1b071ad0b672bdb8b66.png"
              class="w-[50px] rounded-full"
              alt=""
            />
            <p class="font-bold text-gray-800">Berry Gunawan</p>
          </div>
          <p class="space-x-1">
            <i class="fa-solid fa-star text-yellow-300"></i> <span>3.5</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>