<section
  class="min-h-[91vh] flex items-center justify-center bg-gray-100 py-8"
>
  <div
    class="bg-white mx-10 sm:mx-20 md:mx-5 rounded-xl md:w-3/4 py-5 px-8 shadow-2xl"
  >
    <h1 class="text-3xl font-bold text-[var(--text-color)] mb-3">Contact</h1>
    <p class="text-sm font-medium text-gray-500 mb-8">
      We would love to hear from you. Please fill out the form below and we’ll
      get in touch shortly.
    </p>

    <form [formGroup]="contactForm" class="space-y-6">
      <div class="flex flex-col md:flex-row gap-5">
        <app-input
          [control]="contactForm?.get('name')"
          [idInput]="'firstName'"
          [labelInput]="'First Name'"
          [icon]="'fa-solid fa-user'"
          [palceholder]="'First Name'"
          class="flex-1"
        ></app-input>

        <app-input
          [control]="contactForm?.get('name')"
          [idInput]="'lastName'"
          [labelInput]="'Last Name'"
          [icon]="'fa-solid fa-user'"
          [palceholder]="'Last Name'"
          class="flex-1"
        ></app-input>
      </div>

      <div class="flex flex-col md:flex-row gap-5">
        <app-input
          [control]="contactForm?.get('email')"
          [idInput]="'email'"
          [labelInput]="'Email'"
          [icon]="'fa-solid fa-envelope'"
          [palceholder]="'E-mail'"
          class="flex-1"
        ></app-input>

        <app-input
          [control]="contactForm?.get('phone')"
          [idInput]="'phone'"
          [labelInput]="'Phone'"
          [icon]="'fa-solid fa-phone'"
          [palceholder]="'Phone'"
          class="flex-1"
        ></app-input>
      </div>

      <div class="mb-3">
        <app-input
          [control]="contactForm?.get('message')"
          [idInput]="'message'"
          [labelInput]="'Message'"
          [element]="'text'"
          [icon]="'fa-solid fa-message'"
          [rows]="5"
          [palceholder]="'Write your message...'"
        ></app-input>
      </div>

      <div class="mt-4">
        <button
          type="submit"
          class="w-full cursor-pointer md:w-auto lg:w-sm mx-auto py-3 px-6 text-white rounded-full bg-[var(--main-color)] border border-transparent hover:bg-white hover:text-[var(--main-color)] hover:border-[var(--main-color)] transition-all duration-300 font-semibold"
        >
          Contact Us
        </button>
      </div>
    </form>
  </div>
</section>
