   <div
    class="max-w-6xl mx-auto mt-30 items-center"
  >
    <div class="text-center space-y-3 mb-10">
        <h2 class="text-[var(--text-color)] font-bold text-3xl">Blog</h2>
        <p class="text-[#475467] font-normal">Make your best moments more stylish with our latest designs of clothing.</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 px-3 gap-6">
    <div class="card bg-white rounded-b-xl">
        <img src="/images/blog-1.png" alt="">
       <div class="p-5">
        <div class="flex justify-between">
            <span class="text-[#475467] font-normal">Fashion</span>
            <span class="text-[#475467]">Dec 30, 2022</span>
        </div>
        <p class="text-[#090F41] font-bold">The perfect Shopify theme</p>
        <p class="text-[#475467]">Shopify is the second most popular eCommerce store builder in the world. You can use Shopify in nearly every coun</p>
       </div>
    </div>
    <div class="card bg-white rounded-b-xl">
        <img src="/images/blog-2.png" alt="">
       <div class="p-5">
        <div class="flex justify-between">
            <span class="text-[#475467] font-normal">Fashion</span>
            <span class="text-[#475467]">Dec 30, 2022</span>
        </div>
        <p class="text-[#090F41] font-bold">The perfect Shopify theme</p>
        <p class="text-[#475467]">Shopify is the second most popular eCommerce store builder in the world. You can use Shopify in nearly every coun</p>
       </div>
    </div>
    <div class="card bg-white rounded-b-xl">
        <img src="/images/blog-3.png" alt="">
       <div class="p-5">
        <div class="flex justify-between">
            <span class="text-[#475467] font-normal">Fashion</span>
            <span class="text-[#475467]">Dec 30, 2022</span>
        </div>
        <p class="text-[#090F41] font-bold">The perfect Shopify theme</p>
        <p class="text-[#475467]">Shopify is the second most popular eCommerce store builder in the world. You can use Shopify in nearly every coun</p>
       </div>
    </div>
    
    <div class="card bg-white rounded-b-xl">
        <img src="/images/blog-4.png" alt="">
       <div class="p-5">
        <div class="flex justify-between">
            <span class="text-[#475467] font-normal">Fashion</span>
            <span class="text-[#475467]">Dec 30, 2022</span>
        </div>
        <p class="text-[#090F41] font-bold">The perfect Shopify theme</p>
        <p class="text-[#475467]">Shopify is the second most popular eCommerce store builder in the world. You can use Shopify in nearly every coun</p>
       </div>
    </div>
    
    <div class="card bg-white rounded-b-xl">
        <img src="/images/blog-5.png" alt="">
       <div class="p-5">
        <div class="flex justify-between">
            <span class="text-[#475467] font-normal">Fashion</span>
            <span class="text-[#475467]">Dec 30, 2022</span>
        </div>
        <p class="text-[#090F41] font-bold">The perfect Shopify theme</p>
        <p class="text-[#475467]">Shopify is the second most popular eCommerce store builder in the world. You can use Shopify in nearly every coun</p>
       </div>
    </div>
    
    <div class="card bg-white rounded-b-xl">
        <img src="/images/blog-6.png" alt="">
       <div class="p-5">
        <div class="flex justify-between">
            <span class="text-[#475467] font-normal">Fashion</span>
            <span class="text-[#475467]">Dec 30, 2022</span>
        </div>
        <p class="text-[#090F41] font-bold">The perfect Shopify theme</p>
        <p class="text-[#475467]">Shopify is the second most popular eCommerce store builder in the world. You can use Shopify in nearly every coun</p>
       </div>
    </div>
    
    </div>
  </div>