   <div
    class="max-w-6xl mx-auto mt-20 grid grid-cols-1 lg:grid-cols-10 gap-8 items-center"
  >
    <div class="lg:col-span-6 text-center lg:text-left space-y-6">
      <h1
        class="text-3xl md:text-4xl lg:text-5xl font-bold text-[var(--text-color)] leading-snug"
      >
        Elevate Your Style with
        <span class="text-[var(--text-color)]">The Latest Trends</span>.
      </h1>
      <p class="text-gray-600 leading-relaxed max-w-xl mx-auto lg:mx-0">
        Explore a curated collection of stylish, affordable fashion designed to
        elevate your wardrobe. Discover the perfect blend of trend, comfort, and
        individuality for your look.
      </p>
      <div class="items-center">
        <button
          class="bg-[var(--main-color)] px-8  cursor-pointer py-3 text-white text-lg rounded-4xl shadow-md hover:shadow-lg 
          hover:bg-[var(--main-color)] border  hover:border-[var(--main-color)] hover:text-white transition-all duration-300"
        >
          Explore
        </button>
      </div>
    </div>

    <div class="lg:col-span-4 flex justify-center lg:justify-end">
      <img
        src="images/c309aacfe525c8c394a4b0d6217c7b059f4cd526.jpg"
        alt="Fashion trends"
        class="rounded-tl-[75px] rounded-br-[75px] rounded-bl-4xl object-cover w-full max-w-md shadow-lg"
      />
    </div>
  </div>