<section>
      <div class="services mt-30 max-w-6xl mx-auto items-center">
    <div class="text-center space-y-3 mb-10">
      <h2 class="text-2xl mb-2 font-semibold text-[var(--main-color)]">Services</h2>
      <p class="text-4xl mb-2 font-bold text-[var(--text-color)]">
        Benefits when using our services
      </p>
    </div>
    <div class="cards grid grid-cols-1 md:grid-cols-3 px-3 gap-5">
      <div class="card bg-white p-4 rounded-lg shadow-lg space-y-3">
        <div
          class="icon w-[50px] h-[50px] rounded-full bg-gray-200/50 flex justify-center items-center"
        >
          <i class="fas fa-lightbulb text-[var(--main-color)]"></i>
        </div>
        <h4 class="text-xl font-bold text-gray-800">Inspiration</h4>
        <p class="text-gray-500/90 leading-7">
          Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit
          laoreet purus malesuada dignissim.
        </p>
      </div>
      <div class="card bg-white  p-4 rounded-lg shadow-lg space-y-3">
        <div
          class="icon w-[50px] h-[50px] rounded-full bg-gray-200/50 flex justify-center items-center"
        >
          <i class="fa-solid fa-headphones text-[var(--main-color)]"></i>
        </div>
        <h4 class="text-xl font-bold text-gray-800">24/7 Customer Service</h4>
        <p class="text-gray-500/90 leading-7">
          Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit
          laoreet purus malesuada dignissim.
        </p>
      </div>
      <div class="card bg-white  p-4 rounded-lg shadow-lg space-y-3">
        <div
          class="icon w-[50px] h-[50px] rounded-full bg-gray-200/50 flex justify-center items-center"
        >
          <i class="fa-solid fa-truck-fast text-[var(--main-color)]"></i>
        </div>
        <h4 class="text-xl font-bold text-gray-800">Express Shipping</h4>
        <p class="text-gray-500/90 leading-7">
          Lorem ipsum dolor sit amet consectetur. Est vel risus hendrerit
          laoreet purus malesuada dignissim.
        </p>
      </div>
    </div>
  </div>
</section>