<section
  class="min-h-[60vh] flex items-center justify-center bg-[var(--bg)] dark:bg-gray-900"
>
  <div class="container mt-20 px-6 lg:px-16 flex flex-col items-center gap-12">
    <!-- Stepper -->
    <div class="w-full md:w-2/3 lg:w-1/2">
      <ol
        class="flex items-center justify-between w-full px-6 py-4 text-sm font-medium text-center text-gray-500 bg-white border border-gray-200 rounded-xl shadow-md dark:text-gray-400 dark:bg-gray-800 dark:border-gray-700 sm:text-base"
      >
        <!-- Step 1 -->
        <li class="flex items-center">
          <span
            class="flex items-center justify-center w-6 h-6 me-2 text-xs border rounded-full shrink-0 transition-all duration-300"
            [class.border-[var(--main-color)]]="
              step === 1 || step === 2 || step === 3
            "
            [class.text-[var(--main-color)]]="
              step === 1 || step === 2 || step === 3
            "
          >
            1
          </span>
          <span
            class="hidden sm:inline"
            [class.text-[var(--main-color)]]="
              step === 1 || step === 2 || step === 3
            "
            >Verify Email</span
          >
        </li>
        <!-- Divider -->
        <span
          class="flex-1 h-[2px] mx-2"
          [class.bg-gray-300]="step === 1"
          [class.bg-[var(--main-color)]]="step === 2 || step === 3"
        ></span>
        <!-- Step 2 -->
        <li class="flex items-center">
          <span
            class="flex items-center justify-center w-6 h-6 me-2 text-xs border rounded-full shrink-0 transition-all duration-300"
            [class.border-[var(--main-color)]]="step === 2 || step === 3"
            [class.text-[var(--main-color)]]="step === 2 || step === 3"
          >
            2
          </span>
          <span
            class="hidden sm:inline"
            [class.text-[var(--main-color)]]="step === 2 || step === 3"
            >Verify Code</span
          >
        </li>
        <!-- Divider -->
        <span
          class="flex-1 h-[2px] mx-2"
          [class.bg-gray-300]="step === 1 || step === 2"
          [class.bg-[var(--main-color)]]="step === 3"
        ></span>
        <!-- Step 3 -->
        <li class="flex items-center">
          <span
            class="flex items-center justify-center w-6 h-6 me-2 text-xs border rounded-full shrink-0 transition-all duration-300"
            [class.border-[var(--main-color)]]="step === 3"
            [class.text-[var(--main-color)]]="step === 3"
          >
            3
          </span>
          <span
            class="hidden sm:inline"
            [class.text-[var(--main-color)]]="step === 3"
            >Reset Password</span
          >
        </li>
      </ol>
    </div>

    <!-- Forms -->
    <div
      class="w-full md:w-2/3 lg:w-1/2 bg-white dark:bg-gray-800 shadow-lg rounded-xl p-8"
    >
      <!-- Step 1: Verify Email -->
      @if(step === 1) {
      <form
        [formGroup]="verifyEmail"
        (ngSubmit)="submitEmail()"
        class="space-y-6"
      >
        <app-input
          [control]="verifyEmail.get('email')"
          [labelInput]="'E-mail'"
          [palceholder]="'example@gmail.com'"
          [idInput]="'email'"
          [typeInput]="'email'"
          [icon]="'fa-solid fa-envelope'"
        ></app-input>
        <button
          type="submit"
          class="w-full bg-[var(--main-color)] cursor-pointer text-white border py-2 px-4 rounded-3xl hover:border-[var(--main-color)] hover:text-[var(--main-color)] hover:bg-white transition-colors duration-300"
        >
          Verify E-mail
        </button>
        @if (verifyEmail.get('email')?.touched &&
        verifyEmail.get('email')?.invalid) { @if
        (verifyEmail.get('email')?.hasError('required')) {
        <p
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-red-600 border border-red-600 rounded-lg"
        >
          E-mail is required
        </p>
        } @else if (verifyEmail.get('email')?.hasError('email')) {
        <p
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-red-600 border border-red-600 rounded-lg"
        >
          Invalid email address
        </p>
        } }
      </form>
      }

      <!-- Step 2: Verify Code -->
      @if(step === 2) {
      <form
        [formGroup]="verifyCode"
        (ngSubmit)="submitCode()"
        class="space-y-6"
      >
        <app-input
          [control]="verifyCode.get('resetCode')"
          [labelInput]="'Code'"
          [idInput]="'code'"
          [typeInput]="'text'"
          [icon]="'fa-solid fa-code'"
          [palceholder]="'code'"
        >
        </app-input>

        <div class="flex justify-between gap-4">
          <button
            type="button"
            (click)="step = 1"
            class="w-1/2 bg-gray-200 cursor-pointer text-gray-800 py-2 px-4 rounded-3xl hover:bg-gray-300 transition-colors duration-300"
          >
            Back
          </button>
          <button
            type="submit"
            class="w-1/2 bg-[var(--main-color)] cursor-pointer text-white border py-2 px-4 rounded-3xl hover:border-[var(--main-color)] hover:text-[var(--main-color)] hover:bg-white transition-colors duration-300"
          >
            Verify Code
          </button>
        </div>
        @if (verifyCode.get('resetCode')?.touched &&
        verifyCode.get('resetCode')?.invalid) { @if
        (verifyCode.get('resetCode')?.hasError('required')) {
        <p
          class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-red-600 border border-red-600 rounded-lg"
        >
          Code is required
        </p>
        } }
      </form>
      }

      <!-- Step 3: Reset Password -->
      @if(step === 3) {
      <form
        [formGroup]="resetPassword"
        (ngSubmit)="submitRePassword()"
        class="space-y-6"
      >
        <app-input
          [control]="resetPassword.get('email')"
          [labelInput]="'Email'"
          [idInput]="'email'"
          [typeInput]="'email'"
          [palceholder]="'example@gmail.com'"
          [icon]="'fa-solid fa-envelope'"
          [readonly]="true"
        ></app-input>
        <app-input
          [control]="resetPassword.get('newPassword')"
          [labelInput]="'New Password'"
          [idInput]="'newPassword'"
          [typeInput]="'password'"
          [palceholder]="'xxxxxxxx'"
          [icon]="'fa-solid fa-lock'"
        ></app-input>
        <div class="flex justify-between gap-4">
          <button
            type="button"
            (click)="step = 2"
            class="w-1/2 bg-gray-200 cursor-pointer text-gray-800 py-2 px-4 rounded-3xl hover:bg-gray-300 transition-colors duration-300"
          >
            Back
          </button>
          <button
            type="submit"
            class="w-1/2 bg-[var(--main-color)] cursor-pointer text-white border py-2 px-4 rounded-3xl hover:border-[var(--main-color)] hover:text-[var(--main-color)] hover:bg-white transition-colors duration-300"
          >
            Reset Password
          </button>
        </div>
       
          <!-- Password errors -->
          @if (resetPassword.get('newPassword')?.touched &&
          resetPassword.get('newPassword')?.invalid) { @if
          (resetPassword.get('newPassword')?.hasError('required')) {
          <p
            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-red-600 border border-red-600 rounded-lg"
          >
            Password is required
          </p>
          }@else if (resetPassword.get('newPassword')?.hasError('pattern')) {
            <p
            class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-red-600 border border-red-600 rounded-lg"
          >
            Password format invalid
          </p>
          }}
      </form>
      }
    </div>
  </div>
</section>
